@model Haber

<form method="post" enctype="multipart/form-data">
    <input asp-for="ResimUrl" hidden />

    <div class="row">
        <div class="col-10">



                <div class="border pt-3 mt-5">
            <div class="row pb-3">
                <h2 class="text-primary" style="color: black;">@(Model==null?"Haber Ekle":"Haberi Güncelle")</h2>
                </hr>
            </div>

            <div class="mb-3">
                <label asp-for="Baslik" class="p-0">Başlık</label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="KategoriId" class="p-0">Kategori</label>
                    <select asp-for="KategoriId" asp-items="ViewBag.HaberTuruList" class="form-select"></select>
                </div>
            <div class="mb-3">
                <label asp-for="Aciklama" class="p-0">Açıklama</label>
                <input asp-for="Aciklama" class="form-control" />
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Yazar" class="p-0">Yazar</label>
                <input asp-for="Yazar" class="form-control" />
                <span asp-validation-for="Yazar" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Puan" class="p-0">Puan</label>
                <input asp-for="Puan" class="form-control" />
                <span asp-validation-for="Puan" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ResimUrl" class="p-0">Görsel</label>
                <input type="file" name="file" class="form-control" />

            </div>
            @if (Model != null)
            {
                <button type="submit" class="btn btn-lg btn-success">Güncelle</button>
            }
            else
            {
                <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Haber Ekle</button>
            }

            <a asp-controller="Haber" asp-action="Index" class="btn btn-lg btn-danger">
                Vazgeç
            </a>

        </div>

        </div>


        <div class="col-2">
            @if (Model != null)
            {
            <img src="@Model.ResimUrl" width="100%"
                style="border-radius:7px; border:1px solid #bbb9b9" />
            }
            
        </div>


    </div>

    

</form>

